@import url(./index.css);
.Grid {
    background-image: url(../images/back3.jpg);
    background-size: 100% 100%;
}

.video {
    grid-column: 3/9;
    grid-row: 3/8;
    background: var(--black);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.video video {
    width: 100%;
}

@media screen and (min-width: 357px) and (max-width: 850px) {
    .main .box {
        margin-left: .625rem;
        width: 35%;
        height: 24%;
        background: #000;
    }
}